@import '../../app.scss';
@import '../../colors.scss';

.projects {
    background: $vapor-teal-vibrant;
}

.project-container a img {
    border-radius: 1em;
    margin-bottom: 3em;
}

.featured {
    position: relative;
}
.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $vapor-teal-muted;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: $vapor-pink-vibrant;
    letter-spacing: .3em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

.featured-desc {
    font-size: .80em;
    margin-bottom: 3em;
    line-height: 1.4em;
    font-weight: 500;
}

.inner {
    a {
        transition: all 1s ease;
        &:hover {
            color: $vapor-pink-vibrant
        }
    }  
}

@include tablet {
    .project-container {
        display: grid;
        grid-template-columns: 40% auto;
        text-align: left;
    }

    .project-left {
        display: grid;
        place-content: center;
    }

    a {
        margin-left: 2em;
        margin-top: 1em;
    }
}

@include desktop {
    .projects img {
        float: right;
        max-width: 800px;
    }
}