@import '../../app.scss';
@import '../../colors.scss';

.skills {
    background: $vapor-pink-vibrant;
}

.skills-container ul li {
        background: whitesmoke;
        padding: 2em;
        border-radius: 1em;
        margin-bottom: 1em;

        .icon-container {
            height: 100px;
            display: grid;
            place-content: center;

            img {
                width: 100%;
                height: 60px;
            }
        }
}

.skill-title {
    font-weight: bold;
}

.featured-desc {
    margin-bottom: 2em;
}

@include tablet {
    .skills {
        margin-top: -5em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
}