@import '../../app.scss';
@import '../../colors.scss';
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
}
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 2em;
    margin: 2em;
    border: solid 6px $main-color;
    border-radius: 5%;

    @include desktop {
        width: 10000px;
    }
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: 600;
    color: $main-color;
    text-transform: uppercase;
    font-size: 1.2em;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid $vapor-teal-vibrant;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: $vapor-teal-vibrant;
	padding: 1em;
	border: none;
    border-radius: 5%;
	color: $main-color;
    font-size: 16px;
    font-weight:900;
    text-transform: uppercase;
    transition: all 1s ease;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: $vapor-pink-vibrant;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:$vapor-pink-vibrant;
}