@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 4em 2em;
    text-align: center;
}

img {
    width: 100%;
}

$tablet-width: 800px;
$desktop-width: 1050px;
$largee-desktop-width: 1250px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin lrg-desktop {
    @media (min-width: #{$largee-desktop-width}) {
        @content;
    }
}

@include lrg-desktop {
    section {
        padding: 10em 10em 4em 10em;
    }
}