@import '../../app.scss';
@import '../../colors.scss';

.navigation-container {
    background-color: $main-color;

    a {
        color: whitesmoke;
        transition: all 1s ease;
        font-weight: 500;

        &:hover {
            color: $vapor-pink-vibrant;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6em;

    .logo {
        color: $vapor-pink-vibrant;
        font-weight: bold;
        line-height: 2;
        
        h1 {
            font-size: 1.5em;
        }
    }

    ul {
        display: flex;

        a {
            font-size: .9em;
            display: block;
            padding: 0em 1em 0em 0em;
        }
    }
}

.social-header, .hero-design {
    display: none;
}

.hero {
    display: grid;
    text-align: center;
    padding: 4em;
    background-color: $vapor-pink-vibrant;
    color: white;

    h1 {
        color: $main-color;
    }

    h3 {
        padding-bottom: 2em;
    }

    span {
        color: $main-color;
    }
}

.content {
    h3 {
        a {
            color: $main-color;
        }
    }
}
.ityped-cursor {
    animation: blink 1.25s infinite;
}
@keyframes blink {
    60% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

.circle {
    animation: circleAnimation 1s infinite alternate-reverse;
}

@keyframes circleAnimation {
    from {
        transform: translate(727px, 1880px);
    }

    to {
        transform: translate(727px, 1970px);
    }
}

.meet {
    display: flex;
    margin: 2em auto;
    width: 200px;
    font-weight: bold;
    color: $main-color;

    span {
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    height: 3em;
    margin-top: 0;
    padding: 0px;
    margin: 0;
}

@include desktop {
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        height: 90vh;

        .content {
            background: $vapor-pink-vibrant;
            padding: 6em 8em 0em 4em;
            text-align: left;

            h1 {
                font-size: 5em;
                line-height: 1.2em;
                margin-bottom: .2em;
            }

            h2 {
                font-size: 2em;
            }

            h3 {
                font-size: 1.4em;
            }

        }
    }

    .meet {
        margin: unset;
        margin-bottom: 2em;
    }

    .hero-design {
        display: unset;
        margin-left: -50%;

        padding: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .navigation-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: $main-color;

            .logo {
                font-size: 1.4em;
                padding-bottom: .6em;
            }
        }
    }

    header {
        padding: 1em 1em 1em 2em;

        ul {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            li {
                padding-left: 0px;
                font-size: 1.2em;
            }
        }
    }

    .social-header {
        display: flex;
        justify-content: center;
        padding-left: -4em;

        ul {
            display: flex;
            align-items: center;
            float: right;
            margin-left: 8em;

            li {
                display: flex;
                justify-content: center;
                align-content: center;
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 0px;
            }
        }
    }
}

@include lrg-desktop {
    .logo {
        font-size: 10em;
        padding-left: 2.5em;
    }

    nav {
        margin-right: 2.5em;
    }

    .hero .content {
        padding: 16em 18em 0em 10em;
    }
}